USE [master]
GO
/****** Object:  Database [Restaurante_BD]    Script Date: 11/04/2022 19:42:34 ******/
CREATE DATABASE [Restaurante_BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Restaurante_BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Restaurante_BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Restaurante_BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Restaurante_BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Restaurante_BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Restaurante_BD]
GO
/****** Object:  Table [dbo].[BANCO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANCO](
	[ID_BANCO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BANCO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BITACORA_COCINA]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BITACORA_COCINA](
	[ID_BITACORA_COCINA] [int] IDENTITY(1,1) NOT NULL,
	[CANTIDAD] [decimal](18, 0) NULL,
	[FECHA_SALIDA] [date] NULL,
	[USUARIO] [varchar](50) NULL,
	[ID_BODEGA_GENERAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BITACORA_COCINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAJA]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAJA](
	[NO_CORTE] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_CORTE] [date] NULL,
	[TOTAL_CORTE] [int] NULL,
	[CREADO_POR] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[NO_CORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE_CLIENTE] [varchar](100) NOT NULL,
	[DIRECCION] [varchar](300) NULL,
	[NIT] [varchar](15) NULL,
	[TELEFONO] [varchar](15) NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[FECHA_CREACION] [date] NULL,
	[CORREO_ELECTRONICO] [varchar](50) NULL,
 CONSTRAINT [PK__CLIENTE__23A34130A32CB552] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_DATOS_ADICIONALES]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_DATOS_ADICIONALES](
	[ID_CLIENTE_DATO_ADICIONAL] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[DIRECCION] [varchar](255) NULL,
	[TELEFONO] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE_DATO_ADICIONAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COBRO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COBRO](
	[ID_COBRO] [int] NOT NULL,
	[ID_PEDIDO] [int] NULL,
	[MONTO] [decimal](18, 2) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[CREADO_POR] [varchar](30) NULL,
	[ID_CORTE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COBRO_DETALLE]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COBRO_DETALLE](
	[ID_COBRO_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[ID_COBRO] [int] NULL,
	[ID_PEDIDO_FORMA_PAGO] [int] NULL,
	[MONTO] [decimal](18, 2) NULL,
	[DOCUMENTO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COBRO_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CORTE]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORTE](
	[ID_CORTE] [int] NOT NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[CREADO_POR] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_EMPLEADO] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[SALARIO] [decimal](18, 0) NULL,
	[TELEFONO] [varchar](15) NULL,
	[CORREO_ELECTRONICO] [varchar](50) NULL,
	[DIRECCION] [varchar](300) NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[FECHA_CREACION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_PEDIDO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_PEDIDO](
	[ID_ESTADO_PEDIDO] [int] NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA_DETALLE]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_DETALLE](
	[SERIE] [int] NOT NULL,
	[NO_FACTURA] [int] NOT NULL,
	[RESOLUCION] [varchar](50) NULL,
	[ID_FACTURA_ENCABEZADO] [int] NOT NULL,
	[NO_DETALLE] [int] NULL,
	[PRODUCTO] [varchar](100) NULL,
	[CANTIDAD] [int] NULL,
	[PRECIO_UNITARIO] [decimal](18, 0) NULL,
	[SUBTOTAL_DETALLE] [decimal](18, 0) NULL,
	[CONCEPTO] [varchar](300) NULL,
	[ID_FACTURA_DETALLE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA_ENCABEZADO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_ENCABEZADO](
	[ID_FACTURA_ENCABEZADO] [int] IDENTITY(1,1) NOT NULL,
	[SERIE] [int] NOT NULL,
	[NO_FACTURA] [int] NOT NULL,
	[RESOLUCION] [varchar](50) NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[FECHA_FACTURA] [date] NULL,
	[TOTAL_FACTURA] [decimal](18, 0) NULL,
	[TOTAL_IVA] [decimal](18, 0) NULL,
	[SUBTOTAL_FACTURA] [decimal](18, 0) NULL,
	[NIT] [varchar](15) NULL,
	[DIRECCION] [varchar](300) NULL,
	[NOMBRE_CLIENTE] [varchar](100) NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA_ENCABEZADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO_BODEGA_GENERAL]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO_BODEGA_GENERAL](
	[ID_BODEGA_GENERAL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[CANTIDAD] [decimal](18, 2) NULL,
	[FECHA_INGRESO] [date] NULL,
	[PRECIO] [decimal](18, 2) NULL,
	[ID_UNIDAD_MEDIDA] [int] NULL,
	[SUBTOTAL] [decimal](18, 2) NULL,
	[CREADO_POR] [varchar](50) NULL,
	[ESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BODEGA_GENERAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO_COCINA]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO_COCINA](
	[ID_INVENTARIO_COCINA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NULL,
	[CANTIDAD_NETA] [decimal](18, 2) NULL,
	[FECHA_INGRESO] [date] NULL,
	[PRECIO] [decimal](18, 0) NULL,
	[SUBTOTAL] [decimal](18, 0) NULL,
	[CANTIDAD_CONVERSION] [decimal](18, 2) NULL,
	[ID_UNIDAD_MEDIDA] [int] NULL,
	[ID_BODEGA_GENERAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INVENTARIO_COCINA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[ID_MENU] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_MENU] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[PRECIO] [decimal](18, 0) NULL,
	[PRECIO_COSTO] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU_DETALLE]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU_DETALLE](
	[ID_MENU_DETALLE] [int] IDENTITY(1,1) NOT NULL,
	[ID_MENU] [int] NULL,
	[ID_INVENTARIO_COCINA] [int] NULL,
	[CANTIDAD] [decimal](18, 2) NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](50) NULL,
	[FECHA_CREACION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MENU_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESA]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESA](
	[ID_MESA] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO] [int] NOT NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODULO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULO](
	[ID_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ICONO] [varchar](50) NULL,
	[ESTADO] [char](1) NULL,
	[FECHA_CREACION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_MESA]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_MESA](
	[ID_PAGO_MESA] [int] IDENTITY(1,1) NOT NULL,
	[ID_MESA] [int] NOT NULL,
	[MONTO] [decimal](18, 0) NULL,
	[ID_PEDIDO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO_MESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO_PROVEEDOR]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO_PROVEEDOR](
	[ID_PAGO_PROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[ID_BANCO] [int] NOT NULL,
	[NO_CUENTA] [int] NOT NULL,
	[NOMBRE_CUENTA] [varchar](100) NULL,
	[TELEFONO] [varchar](15) NULL,
	[DIRECCION] [varchar](300) NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAGO_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PANTALLA]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PANTALLA](
	[ID_PANTALLA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[URL_PANTALLA] [varchar](100) NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ID_MODULO] [int] NOT NULL,
	[NIVEL] [int] NULL,
	[PADRE] [int] NULL,
	[ORDEN] [int] NULL,
	[ICONO] [varchar](50) NULL,
	[ESTADO] [char](1) NULL,
	[PRINCIPAL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PANTALLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID_PEDIDO] [int] NOT NULL,
	[ID_MESA] [int] NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[TOTAL] [decimal](18, 0) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[ID_ESTADO_PEDIDO] [int] NULL,
	[ID_TIPO_PEDIDO] [int] NULL,
	[NOMBRE] [varchar](100) NULL,
	[NIT] [varchar](100) NULL,
	[DIRECCION] [varchar](255) NULL,
	[REPARTIDOR] [int] NULL,
	[NOMBRE_RECIBE] [varchar](100) NULL,
	[TELEFONO] [varchar](15) NULL,
 CONSTRAINT [PK__PEDIDO__A05C2F2A05C574F9] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_DETALLE]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_DETALLE](
	[ID_DETALLE_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_MENU] [int] NOT NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[OBSERVACIONES] [varchar](200) NULL,
	[FECHA_CREACION] [datetime] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[SUBTOTAL] [decimal](18, 0) NULL,
	[PRECIO] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_FORMA_PAGO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_FORMA_PAGO](
	[ID_PEDIDO_FORMA_PAGO] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[ESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO_FORMA_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO_FORMA_PAGO_DET]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO_FORMA_PAGO_DET](
	[ID_PEDIDO_PAGO] [int] NOT NULL,
	[ID_PEDIDO] [int] NULL,
	[ID_PEDIDO_FORMA_PAGO] [int] NULL,
	[MONTO] [decimal](18, 0) NULL,
	[REFERENCIA] [varchar](100) NULL,
	[AUTORIZACION] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO_PANTALLA]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO_PANTALLA](
	[ID_PERMISO] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL] [int] NULL,
	[ID_PANTALLA] [int] NULL,
	[USUARIO] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PERMISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
	[ID_UNIDAD_MEDIDA] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[PRECIO] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[ESTADO] [char](1) NULL,
	[DIRECCION] [varchar](300) NULL,
	[REFERENCIA] [varchar](300) NULL,
	[TELEFONO] [varchar](15) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[FECHA_CREACION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](300) NOT NULL,
	[ESTADO] [char](1) NOT NULL,
	[FECHA_CREACION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_EMPLEADO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_EMPLEADO](
	[ID_TIPO_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[FECHA_CREACION] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_MENU]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_MENU](
	[ID_TIPO_MENU] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PEDIDO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PEDIDO](
	[ID_TIPO_PEDIDO] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[ESTADO] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_PRODUCTO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PRODUCTO](
	[ID_TIPO_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIDAD_MEDIDA]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIDAD_MEDIDA](
	[ID_UNIDAD_MEDIDA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[ESTADO] [char](1) NULL,
	[ABREVIATURA] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_UNIDAD_MEDIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[USUARIO] [varchar](100) NULL,
	[CONTRASEÑA] [varchar](100) NULL,
	[CREADO_POR] [varchar](25) NULL,
	[FECHA_CREACION] [date] NULL,
	[ID_MODULO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VALES]    Script Date: 11/04/2022 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALES](
	[ID_VALE] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[TOTAL_VALE] [decimal](18, 0) NULL,
	[CONCEPTO] [varchar](300) NULL,
	[FECHA_CREACION] [date] NULL,
	[ESTADO] [char](1) NULL,
	[CREADO_POR] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VALE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE_CLIENTE], [DIRECCION], [NIT], [TELEFONO], [ESTADO], [CREADO_POR], [FECHA_CREACION], [CORREO_ELECTRONICO]) VALUES (1, N'RAUL LOPEZ', N'ZONA 10 GUATEMALA', N'8969351-5', N'55654682', NULL, NULL, NULL, NULL)
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE_CLIENTE], [DIRECCION], [NIT], [TELEFONO], [ESTADO], [CREADO_POR], [FECHA_CREACION], [CORREO_ELECTRONICO]) VALUES (2, N'ERICK VASQUEZ', N'CALLE DEL CEMENTERIO 1-195 ZONA 1 SAN ISIDRO CHAMAC', N'49870998', N'59289200', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[CLIENTE_DATOS_ADICIONALES] ([ID_CLIENTE_DATO_ADICIONAL], [ID_CLIENTE], [DIRECCION], [TELEFONO]) VALUES (1, 2, N'EFA SAN MARCOS', NULL)
GO
INSERT [dbo].[COBRO] ([ID_COBRO], [ID_PEDIDO], [MONTO], [FECHA_CREACION], [CREADO_POR], [ID_CORTE]) VALUES (1, 1, CAST(150.00 AS Decimal(18, 2)), CAST(N'2022-04-10T18:51:56.890' AS DateTime), N'RALOPEZ', 1)
INSERT [dbo].[COBRO] ([ID_COBRO], [ID_PEDIDO], [MONTO], [FECHA_CREACION], [CREADO_POR], [ID_CORTE]) VALUES (2, 2, CAST(50.00 AS Decimal(18, 2)), CAST(N'2022-04-11T19:29:53.040' AS DateTime), N'RALOPEZ', NULL)
GO
SET IDENTITY_INSERT [dbo].[COBRO_DETALLE] ON 

INSERT [dbo].[COBRO_DETALLE] ([ID_COBRO_DETALLE], [ID_COBRO], [ID_PEDIDO_FORMA_PAGO], [MONTO], [DOCUMENTO]) VALUES (32, 1, 1, CAST(150.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[COBRO_DETALLE] ([ID_COBRO_DETALLE], [ID_COBRO], [ID_PEDIDO_FORMA_PAGO], [MONTO], [DOCUMENTO]) VALUES (33, 2, 1, CAST(50.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[COBRO_DETALLE] OFF
GO
INSERT [dbo].[CORTE] ([ID_CORTE], [TOTAL], [FECHA_CREACION], [CREADO_POR]) VALUES (1, CAST(150.00 AS Decimal(18, 2)), CAST(N'2022-04-11T19:29:13.453' AS DateTime), N'RALOPEZ')
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 

INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [ID_TIPO_EMPLEADO], [NOMBRE], [SALARIO], [TELEFONO], [CORREO_ELECTRONICO], [DIRECCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (1, 3, N'ERICK VASQUEZ', CAST(1111 AS Decimal(18, 0)), N'59289200', N'TOPSI@GMAIL.COM', N'CHAMAC', N'A', N'RALOPEZ', CAST(N'2021-11-13' AS Date))
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [ID_TIPO_EMPLEADO], [NOMBRE], [SALARIO], [TELEFONO], [CORREO_ELECTRONICO], [DIRECCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (5, 3, N'LUIS SALIC', CAST(1000 AS Decimal(18, 0)), N'54648324', N'LUIS@GMAIL.COM', N'EL MOSQUITO', N'A', N'RALOPEZ', CAST(N'2021-11-13' AS Date))
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [ID_TIPO_EMPLEADO], [NOMBRE], [SALARIO], [TELEFONO], [CORREO_ELECTRONICO], [DIRECCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (6, 3, N'RAUL ALEJANDRO LOPEZ FUENTES', CAST(5000 AS Decimal(18, 0)), N'55654682', N'ALEJANDROLOPEZ445@GMAIL.COM', N'GUATEMALA', N'A', N'', CAST(N'2021-11-13' AS Date))
SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
GO
INSERT [dbo].[ESTADO_PEDIDO] ([ID_ESTADO_PEDIDO], [DESCRIPCION]) VALUES (1, N'PENDIENTE')
INSERT [dbo].[ESTADO_PEDIDO] ([ID_ESTADO_PEDIDO], [DESCRIPCION]) VALUES (2, N'ENTREGADO')
INSERT [dbo].[ESTADO_PEDIDO] ([ID_ESTADO_PEDIDO], [DESCRIPCION]) VALUES (3, N'ANULADO')
GO
SET IDENTITY_INSERT [dbo].[INVENTARIO_BODEGA_GENERAL] ON 

INSERT [dbo].[INVENTARIO_BODEGA_GENERAL] ([ID_BODEGA_GENERAL], [NOMBRE_PRODUCTO], [DESCRIPCION], [CANTIDAD], [FECHA_INGRESO], [PRECIO], [ID_UNIDAD_MEDIDA], [SUBTOTAL], [CREADO_POR], [ESTADO]) VALUES (17, N'HUEVOS', N'HUEVOS POR UNIDAD', CAST(400.00 AS Decimal(18, 2)), CAST(N'2022-04-09' AS Date), CAST(0.70 AS Decimal(18, 2)), 4, CAST(280.00 AS Decimal(18, 2)), N'EVASQUEZ', N'A')
SET IDENTITY_INSERT [dbo].[INVENTARIO_BODEGA_GENERAL] OFF
GO
SET IDENTITY_INSERT [dbo].[MENU] ON 

INSERT [dbo].[MENU] ([ID_MENU], [ID_TIPO_MENU], [NOMBRE], [FECHA_CREACION], [ESTADO], [CREADO_POR], [PRECIO], [PRECIO_COSTO]) VALUES (6, 5, N'HUEVOS RANCHEROS', CAST(N'2022-04-09' AS Date), N'A', N'LUIS G', CAST(50 AS Decimal(18, 0)), NULL)
SET IDENTITY_INSERT [dbo].[MENU] OFF
GO
SET IDENTITY_INSERT [dbo].[MESA] ON 

INSERT [dbo].[MESA] ([ID_MESA], [NUMERO], [FECHA_CREACION], [ESTADO], [CREADO_POR]) VALUES (2, 1, CAST(N'2021-12-19' AS Date), N'I', N'RALOPEZ')
INSERT [dbo].[MESA] ([ID_MESA], [NUMERO], [FECHA_CREACION], [ESTADO], [CREADO_POR]) VALUES (3, 2, CAST(N'2021-12-19' AS Date), N'A', N'RALOPEZ')
INSERT [dbo].[MESA] ([ID_MESA], [NUMERO], [FECHA_CREACION], [ESTADO], [CREADO_POR]) VALUES (4, 3, CAST(N'2021-12-19' AS Date), N'A', N'RALOPEZ')
SET IDENTITY_INSERT [dbo].[MESA] OFF
GO
SET IDENTITY_INSERT [dbo].[MODULO] ON 

INSERT [dbo].[MODULO] ([ID_MODULO], [NOMBRE], [DESCRIPCION], [ICONO], [ESTADO], [FECHA_CREACION]) VALUES (1, N'ADMINISTRACION', N'DESCR', N'settings', N'A', CAST(N'2021-11-14' AS Date))
INSERT [dbo].[MODULO] ([ID_MODULO], [NOMBRE], [DESCRIPCION], [ICONO], [ESTADO], [FECHA_CREACION]) VALUES (2, N'INVENTARIO', N'DESCR', N'settings', N'A', CAST(N'2021-11-14' AS Date))
INSERT [dbo].[MODULO] ([ID_MODULO], [NOMBRE], [DESCRIPCION], [ICONO], [ESTADO], [FECHA_CREACION]) VALUES (4, N'REPORTES', N'DESCR', N'settings', N'A', CAST(N'2021-11-14' AS Date))
SET IDENTITY_INSERT [dbo].[MODULO] OFF
GO
SET IDENTITY_INSERT [dbo].[PANTALLA] ON 

INSERT [dbo].[PANTALLA] ([ID_PANTALLA], [NOMBRE], [URL_PANTALLA], [DESCRIPCION], [ID_MODULO], [NIVEL], [PADRE], [ORDEN], [ICONO], [ESTADO], [PRINCIPAL]) VALUES (1, N'DEFAULT', N'/ADMDefault/Index', N'PANTALLA PRINCIPAL DEL MÓDULO REPORTES', 1, 1, 0, 0, NULL, N'A', 1)
INSERT [dbo].[PANTALLA] ([ID_PANTALLA], [NOMBRE], [URL_PANTALLA], [DESCRIPCION], [ID_MODULO], [NIVEL], [PADRE], [ORDEN], [ICONO], [ESTADO], [PRINCIPAL]) VALUES (2, N'OPERACIONES', N'#', N'desc0', 1, 1, 0, 1, N'settings', N'A', 0)
INSERT [dbo].[PANTALLA] ([ID_PANTALLA], [NOMBRE], [URL_PANTALLA], [DESCRIPCION], [ID_MODULO], [NIVEL], [PADRE], [ORDEN], [ICONO], [ESTADO], [PRINCIPAL]) VALUES (4, N'CLIENTE', N'/ADMCliente/Index', N'desc1', 1, 2, 2, 1, NULL, N'A', 0)
SET IDENTITY_INSERT [dbo].[PANTALLA] OFF
GO
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [ID_MESA], [ID_EMPLEADO], [ID_CLIENTE], [TOTAL], [FECHA_CREACION], [ESTADO], [CREADO_POR], [ID_ESTADO_PEDIDO], [ID_TIPO_PEDIDO], [NOMBRE], [NIT], [DIRECCION], [REPARTIDOR], [NOMBRE_RECIBE], [TELEFONO]) VALUES (1, NULL, 6, 1, CAST(150 AS Decimal(18, 0)), CAST(N'2022-04-10T18:48:25.673' AS DateTime), N'A', N'RALOPEZ', 5, 2, N'RAUL LOPEZ', N'8969351-5', N'ZONA 10 GUATEMALA', 9, N'RAUL LOPEZ', N'55654682')
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [ID_MESA], [ID_EMPLEADO], [ID_CLIENTE], [TOTAL], [FECHA_CREACION], [ESTADO], [CREADO_POR], [ID_ESTADO_PEDIDO], [ID_TIPO_PEDIDO], [NOMBRE], [NIT], [DIRECCION], [REPARTIDOR], [NOMBRE_RECIBE], [TELEFONO]) VALUES (2, NULL, 6, 2, CAST(50 AS Decimal(18, 0)), CAST(N'2022-04-11T19:28:48.087' AS DateTime), N'A', N'RALOPEZ', 4, 3, N'ERICK VASQUEZ', N'49870998', N'CALLE DEL CEMENTERIO 1-195 ZONA 1 SAN ISIDRO CHAMAC', 9, N'ERICK VASQUEZ', N'59289200')
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [ID_MESA], [ID_EMPLEADO], [ID_CLIENTE], [TOTAL], [FECHA_CREACION], [ESTADO], [CREADO_POR], [ID_ESTADO_PEDIDO], [ID_TIPO_PEDIDO], [NOMBRE], [NIT], [DIRECCION], [REPARTIDOR], [NOMBRE_RECIBE], [TELEFONO]) VALUES (3, 2, 6, NULL, CAST(150 AS Decimal(18, 0)), CAST(N'2022-04-11T19:37:06.060' AS DateTime), N'A', N'RALOPEZ', 1, 1, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PEDIDO_DETALLE] ON 

INSERT [dbo].[PEDIDO_DETALLE] ([ID_DETALLE_PEDIDO], [ID_PEDIDO], [ID_MENU], [ID_PRODUCTO], [CANTIDAD], [OBSERVACIONES], [FECHA_CREACION], [ESTADO], [CREADO_POR], [SUBTOTAL], [PRECIO]) VALUES (93, 1, 6, NULL, 3, N'', CAST(N'2022-04-10T18:48:25.677' AS DateTime), N'A', N'RALOPEZ', CAST(150 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)))
INSERT [dbo].[PEDIDO_DETALLE] ([ID_DETALLE_PEDIDO], [ID_PEDIDO], [ID_MENU], [ID_PRODUCTO], [CANTIDAD], [OBSERVACIONES], [FECHA_CREACION], [ESTADO], [CREADO_POR], [SUBTOTAL], [PRECIO]) VALUES (94, 2, 6, NULL, 1, N'TERMINO MEDIO', CAST(N'2022-04-11T19:28:48.200' AS DateTime), N'A', N'RALOPEZ', CAST(50 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)))
INSERT [dbo].[PEDIDO_DETALLE] ([ID_DETALLE_PEDIDO], [ID_PEDIDO], [ID_MENU], [ID_PRODUCTO], [CANTIDAD], [OBSERVACIONES], [FECHA_CREACION], [ESTADO], [CREADO_POR], [SUBTOTAL], [PRECIO]) VALUES (95, 3, 6, NULL, 3, N'', CAST(N'2022-04-11T19:37:06.087' AS DateTime), N'A', N'RALOPEZ', CAST(150 AS Decimal(18, 0)), CAST(50 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[PEDIDO_DETALLE] OFF
GO
INSERT [dbo].[PEDIDO_FORMA_PAGO] ([ID_PEDIDO_FORMA_PAGO], [NOMBRE], [ESTADO]) VALUES (1, N'EFECTIVO', N'A')
INSERT [dbo].[PEDIDO_FORMA_PAGO] ([ID_PEDIDO_FORMA_PAGO], [NOMBRE], [ESTADO]) VALUES (2, N'TARJETA', N'A')
GO
SET IDENTITY_INSERT [dbo].[PERMISO_PANTALLA] ON 

INSERT [dbo].[PERMISO_PANTALLA] ([ID_PERMISO], [ID_ROL], [ID_PANTALLA], [USUARIO]) VALUES (1, 1, 1, N'RALOPEZ')
INSERT [dbo].[PERMISO_PANTALLA] ([ID_PERMISO], [ID_ROL], [ID_PANTALLA], [USUARIO]) VALUES (2, 1, 2, N'RALOPEZ')
INSERT [dbo].[PERMISO_PANTALLA] ([ID_PERMISO], [ID_ROL], [ID_PANTALLA], [USUARIO]) VALUES (10, 1, 7, N'RALOPEZ')
SET IDENTITY_INSERT [dbo].[PERMISO_PANTALLA] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([ID_ROL], [NOMBRE], [DESCRIPCION], [ESTADO], [FECHA_CREACION]) VALUES (1, N'DESARROLLADOR', N'DESARROLLADOR', N'A', CAST(N'2021-11-14' AS Date))
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_EMPLEADO] ON 

INSERT [dbo].[TIPO_EMPLEADO] ([ID_TIPO_EMPLEADO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (1, N'PROGRAMADOR', N'PROGRAMADOR DE SISTEMAS', N'A', N'RALOPEZ', CAST(N'2021-11-13' AS Date))
INSERT [dbo].[TIPO_EMPLEADO] ([ID_TIPO_EMPLEADO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (3, N'ADMINISTRADOR', N'ADMINISTRADOR', N'A', N'RALOPEZ', CAST(N'2021-11-13' AS Date))
INSERT [dbo].[TIPO_EMPLEADO] ([ID_TIPO_EMPLEADO], [NOMBRE], [DESCRIPCION], [ESTADO], [CREADO_POR], [FECHA_CREACION]) VALUES (4, N'SECRETARIA', N'SECRETARIA', N'A', N'RALOPEZ', CAST(N'2021-11-13' AS Date))
SET IDENTITY_INSERT [dbo].[TIPO_EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_MENU] ON 

INSERT [dbo].[TIPO_MENU] ([ID_TIPO_MENU], [NOMBRE], [CREADO_POR], [FECHA_CREACION], [ESTADO]) VALUES (5, N'DESAYUNOS', N'LUISG', CAST(N'2022-04-09' AS Date), N'A')
SET IDENTITY_INSERT [dbo].[TIPO_MENU] OFF
GO
INSERT [dbo].[TIPO_PEDIDO] ([ID_TIPO_PEDIDO], [NOMBRE], [ESTADO]) VALUES (1, N'RESTAURANTE', N'A')
INSERT [dbo].[TIPO_PEDIDO] ([ID_TIPO_PEDIDO], [NOMBRE], [ESTADO]) VALUES (2, N'WHATSAPP', N'A')
INSERT [dbo].[TIPO_PEDIDO] ([ID_TIPO_PEDIDO], [NOMBRE], [ESTADO]) VALUES (3, N'TELÉFONO', N'A')
GO
SET IDENTITY_INSERT [dbo].[UNIDAD_MEDIDA] ON 

INSERT [dbo].[UNIDAD_MEDIDA] ([ID_UNIDAD_MEDIDA], [DESCRIPCION], [ESTADO], [ABREVIATURA]) VALUES (1, N'LIBRAS', N'A', N'LB')
INSERT [dbo].[UNIDAD_MEDIDA] ([ID_UNIDAD_MEDIDA], [DESCRIPCION], [ESTADO], [ABREVIATURA]) VALUES (2, N'KILOGRAMOS', N'A', N'KG')
INSERT [dbo].[UNIDAD_MEDIDA] ([ID_UNIDAD_MEDIDA], [DESCRIPCION], [ESTADO], [ABREVIATURA]) VALUES (3, N'QUINTALES', N'A', N'Q')
SET IDENTITY_INSERT [dbo].[UNIDAD_MEDIDA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_EMPLEADO], [USUARIO], [CONTRASEÑA], [CREADO_POR], [FECHA_CREACION], [ID_MODULO]) VALUES (1, 6, N'RALOPEZ', N'f9zZGx+QE+jYf3q/TZH8Gg==', NULL, CAST(N'2021-11-14' AS Date), 5)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ID_EMPLEADO], [USUARIO], [CONTRASEÑA], [CREADO_POR], [FECHA_CREACION], [ID_MODULO]) VALUES (2, 1, N'EVASQUEZ', N'f9zZGx+QE+jYf3q/TZH8Gg==', N'RALOPEZ', CAST(N'2022-02-20' AS Date), 2)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[BITACORA_COCINA]  WITH CHECK ADD FOREIGN KEY([ID_BODEGA_GENERAL])
REFERENCES [dbo].[INVENTARIO_BODEGA_GENERAL] ([ID_BODEGA_GENERAL])
GO
ALTER TABLE [dbo].[CLIENTE_DATOS_ADICIONALES]  WITH CHECK ADD  CONSTRAINT [FK__CLIENTE_D__ID_CL__628FA481] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[CLIENTE_DATOS_ADICIONALES] CHECK CONSTRAINT [FK__CLIENTE_D__ID_CL__628FA481]
GO
ALTER TABLE [dbo].[COBRO]  WITH CHECK ADD FOREIGN KEY([ID_CORTE])
REFERENCES [dbo].[CORTE] ([ID_CORTE])
GO
ALTER TABLE [dbo].[COBRO]  WITH CHECK ADD FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[COBRO_DETALLE]  WITH CHECK ADD FOREIGN KEY([ID_COBRO])
REFERENCES [dbo].[COBRO] ([ID_COBRO])
GO
ALTER TABLE [dbo].[COBRO_DETALLE]  WITH CHECK ADD FOREIGN KEY([ID_PEDIDO_FORMA_PAGO])
REFERENCES [dbo].[PEDIDO_FORMA_PAGO] ([ID_PEDIDO_FORMA_PAGO])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_EMPLEADO])
REFERENCES [dbo].[TIPO_EMPLEADO] ([ID_TIPO_EMPLEADO])
GO
ALTER TABLE [dbo].[FACTURA_DETALLE]  WITH CHECK ADD FOREIGN KEY([ID_FACTURA_ENCABEZADO])
REFERENCES [dbo].[FACTURA_ENCABEZADO] ([ID_FACTURA_ENCABEZADO])
GO
ALTER TABLE [dbo].[FACTURA_ENCABEZADO]  WITH CHECK ADD  CONSTRAINT [FK__FACTURA_E__ID_CL__656C112C] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[FACTURA_ENCABEZADO] CHECK CONSTRAINT [FK__FACTURA_E__ID_CL__656C112C]
GO
ALTER TABLE [dbo].[INVENTARIO_BODEGA_GENERAL]  WITH CHECK ADD FOREIGN KEY([ID_UNIDAD_MEDIDA])
REFERENCES [dbo].[UNIDAD_MEDIDA] ([ID_UNIDAD_MEDIDA])
GO
ALTER TABLE [dbo].[INVENTARIO_COCINA]  WITH CHECK ADD FOREIGN KEY([ID_BODEGA_GENERAL])
REFERENCES [dbo].[INVENTARIO_BODEGA_GENERAL] ([ID_BODEGA_GENERAL])
GO
ALTER TABLE [dbo].[INVENTARIO_COCINA]  WITH CHECK ADD FOREIGN KEY([ID_UNIDAD_MEDIDA])
REFERENCES [dbo].[UNIDAD_MEDIDA] ([ID_UNIDAD_MEDIDA])
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_MENU])
REFERENCES [dbo].[TIPO_MENU] ([ID_TIPO_MENU])
GO
ALTER TABLE [dbo].[MENU_DETALLE]  WITH CHECK ADD FOREIGN KEY([ID_INVENTARIO_COCINA])
REFERENCES [dbo].[INVENTARIO_COCINA] ([ID_INVENTARIO_COCINA])
GO
ALTER TABLE [dbo].[MENU_DETALLE]  WITH CHECK ADD FOREIGN KEY([ID_MENU])
REFERENCES [dbo].[MENU] ([ID_MENU])
GO
ALTER TABLE [dbo].[PAGO_MESA]  WITH CHECK ADD FOREIGN KEY([ID_MESA])
REFERENCES [dbo].[MESA] ([ID_MESA])
GO
ALTER TABLE [dbo].[PAGO_MESA]  WITH CHECK ADD  CONSTRAINT [FK__PAGO_MESA__ID_PE__52593CB8] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[PAGO_MESA] CHECK CONSTRAINT [FK__PAGO_MESA__ID_PE__52593CB8]
GO
ALTER TABLE [dbo].[PAGO_PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([ID_BANCO])
REFERENCES [dbo].[BANCO] ([ID_BANCO])
GO
ALTER TABLE [dbo].[PAGO_PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[PANTALLA]  WITH CHECK ADD FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[MODULO] ([ID_MODULO])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO__ID_CLIEN__5535A963] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK__PEDIDO__ID_CLIEN__5535A963]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO__ID_EMPLE__5629CD9C] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK__PEDIDO__ID_EMPLE__5629CD9C]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO__ID_ESTAD__02FC7413] FOREIGN KEY([ID_ESTADO_PEDIDO])
REFERENCES [dbo].[ESTADO_PEDIDO] ([ID_ESTADO_PEDIDO])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK__PEDIDO__ID_ESTAD__02FC7413]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO__ID_MESA__571DF1D5] FOREIGN KEY([ID_MESA])
REFERENCES [dbo].[MESA] ([ID_MESA])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK__PEDIDO__ID_MESA__571DF1D5]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO__ID_TIPO___160F4887] FOREIGN KEY([ID_TIPO_PEDIDO])
REFERENCES [dbo].[TIPO_PEDIDO] ([ID_TIPO_PEDIDO])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK__PEDIDO__ID_TIPO___160F4887]
GO
ALTER TABLE [dbo].[PEDIDO_DETALLE]  WITH CHECK ADD FOREIGN KEY([ID_MENU])
REFERENCES [dbo].[MENU] ([ID_MENU])
GO
ALTER TABLE [dbo].[PEDIDO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO_DE__ID_PE__59FA5E80] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[PEDIDO_DETALLE] CHECK CONSTRAINT [FK__PEDIDO_DE__ID_PE__59FA5E80]
GO
ALTER TABLE [dbo].[PEDIDO_DETALLE]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PEDIDO_FORMA_PAGO_DET]  WITH CHECK ADD FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[PEDIDO_FORMA_PAGO_DET]  WITH CHECK ADD FOREIGN KEY([ID_PEDIDO_FORMA_PAGO])
REFERENCES [dbo].[PEDIDO_FORMA_PAGO] ([ID_PEDIDO_FORMA_PAGO])
GO
ALTER TABLE [dbo].[PERMISO_PANTALLA]  WITH CHECK ADD FOREIGN KEY([ID_PANTALLA])
REFERENCES [dbo].[PANTALLA] ([ID_PANTALLA])
GO
ALTER TABLE [dbo].[PERMISO_PANTALLA]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_TIPO_PRODUCTO])
REFERENCES [dbo].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_UNIDAD_MEDIDA])
REFERENCES [dbo].[UNIDAD_MEDIDA] ([ID_UNIDAD_MEDIDA])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[VALES]  WITH CHECK ADD FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_PEDIDO_PARA_LLEVAR]    Script Date: 11/04/2022 19:42:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GUARDAR_PEDIDO_PARA_LLEVAR]

AS BEGIN
INSERT INTO PEDIDO(ID_PEDIDO) VALUES(5);

END;
GO
USE [master]
GO
