
@{
    ViewBag.Title = "Index";
}


@section scripts{
    <script src="~/Scripts/Pedidos/PEDCrearPedido.js"></script>
    <script src="~/Scripts/DevExtreme/21.1.5/dx.all.js"></script>
    <script src="~/Scripts/DevExtreme/21.1.5/localization/dx.messages.es.js"></script>
    <link rel="stylesheet" href="~/Content/DevExtreme/21.1.5/dx.material.orange.light.css">
}

<style>
    table thead tr th {
        font-size: 12px !important;
    }

    table tbody tr td {
        font-size: 12px !important;
    }

    div.dt-buttons {
        position: relative;
        float: right;
        margin-top: -2px;
        margin-left: -15px;
    }

    .dataTables_length {
        float: left;
    }

    td.remover-control {
        background: url('../../assets/img/open.png') no-repeat center center !important;
        cursor: pointer !important;
    }

    tr.remover td.remover-control {
        background: url('../../assets/img/close.png') no-repeat center center !important;
        cursor: pointer !important;
    }

</style>

<div class="col-md-12" style="margin-top:-10px;">
    <div class="card" style="margin-top:-12px;">
        <div class="card-header card-header-deep-orange card-header-text">
            <div class="card-text">
                <h4 class="card-title">PEDIDOS</h4>
            </div>
        </div>
        <div class="toolbar">
            <a id="btnAbrirModalCrearRefactura" class="btn btn-link btn-info btn-just-icon add" title="CREAR REFACTURA"><i class="material-icons">add</i></a>
        </div>
        <div class="card-body">
            <form class="formValida" id="formNotaCredito">
                <div class="row">
                    <div class="col-md-12">
                        <div class="material-datatables">
                            <table id="tblPedidosCreados" class="table table-striped table-no-bordered table-hover pagination-success" width="100%" style="width:100%; margin-top:-35px">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold"></th>
                                        <th class="font-weight-bold">NO. PEDIDO</th>
                                        <th class="font-weight-bold">MESA</th>
                                        <th class="font-weight-bold">ESTADO</th>
                                        <th class="font-weight-bold">TOTAL</th>
                                        <th class="font-weight-bold"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@*----------------------------------MODAL DE CREACIÓN DE REFACTURA----------------------------------*@
<div class="modal fade" id="modalCrearRefactura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">DATOS PEDIDO</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <form class="formValida" id="formRefactura">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="bmd-label-floating label-with-selectpicker">MESA</label>
                                <select id="selMesa" name="selMesa" class="selectpicker" data-style="select-with-transition" title="SELECCIONE" data-live-search="true" required></select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                            <div class="form-group">
                                <label for="txtTotalPedido" class="bmd-label-floating">TOTAL PEDIDO</label>
                                <input type="text" class="form-control" id="txtTotalPedido" name="txtTotalPedido" text-align:center" disabled>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="toolbar" style="margin-top:-15px">
                                <a id="btnBuscarProducto" class="btn btn-link btn-info btn-just-icon add" title="Agregar"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top:-23px;">
                            <div class="material-datatables">
                                <table id="tblDetallesPedido" class="table table-striped table-no-bordered table-hover pagination-success" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-bold" style="text-align:center">CANTIDAD</th>
                                            <th class="font-weight-bold" style="text-align:center">PRODUCTO</th>
                                            <th class="font-weight-bold" style="text-align:center">DESCRIPCIÓN</th>
                                            <th class="font-weight-bold" style="text-align:center">PRECIO</th>
                                            <th class="font-weight-bold" style="text-align:center">SUBTOTAL</th>
                                            <th class="font-weight-bold" style="text-align:center">OBSERVACIONES</th>
                                            <th class="font-weight-bold" style="text-align:center"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyDatosDetalleProductos"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCrearPedido" class="btn btn-link btn-deep-orange">Crear</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-mini modal-primary" id="modalCrearDetalleProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-small">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">AGREGAR DETALLE</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <form class="formValida" id="formProducto">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group">
                                <label class="bmd-label-floating label-with-selectpicker">CATEGORIA</label>
                                <select id="selCategoria" name="selCategoria" class="selectpicker" data-live-search="true" data-style="select-with-transition" title="SELECCIONE" required></select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group">
                                <label class="bmd-label-floating label-with-selectpicker">MENU/PRODUCTO</label>
                                <select id="selMenu" name="selMenu" class="selectpicker" data-live-search="true" data-style="select-with-transition" title="SELECCIONE" required></select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <input type="hidden" id="hfProducto">
                            <input type="hidden" id="hfSubsidioAplica">
                            <div class="form-group">
                                <label for="txtProductoCantidad" class="bmd-label-floating"> CANTIDAD</label>
                                <input type="number" class="form-control validarNumeros text-center" id="txtProductoCantidad" name="txtProductoCantidad" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group">
                                <label for="txtProductoPrecio" class="bmd-label-floating"> PRECIO</label>
                                <input type="number" class="form-control .input-number text-center" id="txtProductoPrecio" disabled name="txtProductoPrecio" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group">
                                <label for="txtObservaciones" class="bmd-label-floating"> OBSERVACIONES</label>
                                <input type="text" class="form-control" id="txtObservaciones" name="txtObservaciones">
                            </div>
                        </div>
                        <div class="modal-footer justify-content-around">
                            <button type="button" id="btnAgregarProducto" class="btn btn-link btn-deep-orange">Agregar</button>
                            <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>