
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        GEMINIS
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/assets/css/material-dashboard.css?v=2.2.2" rel="stylesheet" />
</head>

<body class="off-canvas-sidebar">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
        <div class="container">
            <div class="navbar-wrapper">
                @*<a class="navbar-brand" href="javascript:;">Login Page</a>*@
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper wrapper-full-page">
        <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('../../assets/img/login3.jpg'); background-size: cover; background-position: top center;">
            <div class="container" data-color="deep-orange">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                        <form id="frmLogin" class="form">
                            <div class="card card-login card-hidden">
                                <div class="card-header card-header-danger text-center">
                                    <h4 class="card-title" style="letter-spacing: 7px; font-size: 20px;">GEMINIS</h4>
                                </div>
                                <div class="card-body ">
                                    <p class="card-description text-center">INICIAR SESIÓN</p>
                                    <span class="bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">person</i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Usuario" id="txtUser" required>
                                        </div>
                                    </span>
                                    <span class="bmd-form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">https</i>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="Contraseña" id="txtPassword" required>
                                        </div>
                                    </span>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 text-center">
                                            <button class="btn btn-danger" id="btnLogin">
                                                <i class="material-icons">lock</i> Ingresar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="copyright float-left">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Ingeniería de software. Todos los derechos reservados.
                    </nav>
                    <div class="float-right d-none">
                        <img class="img-fluid img-responsive" src="~/assets/img/oracle-aotonomous-blanco.png" style=" max-width:80px;margin-top:-22px;" />
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>

    <!-- Forms Validations Plugin -->
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
    <script src="~/assets/js/plugins/validate_messages_es.js"></script>

    <!--  Notifications Plugin    -->
    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/material-dashboard.js?v=2.2.2" type="text/javascript"></script>

    <!--  Library for  Genesys System    -->
    <script src="~/assets/js/Utils.js" type="text/javascript"></script>
    <script src="~/Scripts/Login.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            md.checkFullPageBackgroundImage();
            setTimeout(function () {
                // after 1000 ms we add the class animated to the login/register card
                $('.card').removeClass('card-hidden');
            }, 700);
        });
    </script>
</body>

</html>