@{
    ViewBag.Title = "Index;
}

@section scripts{

    <script>
        function Create() {
            var id_tipo_empleado = 3;   //$('#selTipoEmpleado').val();
            var nombre = $('#txtNombre').val();
            var salario = $('#txtSalario').val();
            var telefono = $('#txtTelefono').val();
            var correo = $('#txtCorreo').val();
            var direccion = $('#txtDireccion').val();

            $.post('@Url.Action("Guardar")', { id_tipo_empleado, nombre , salario , telefono , correo , direccion }, function (response) {
                if (response.Codigo == '1') {
                    Notify(response.Descripcion, NotifyIcon.success);
                    Listar()
                }
                else {
                    Alert(response.Descripcion, NotifyIcon.warning);
                }
            });
        }

        function Listar() {
            $('#divData').load('@Url.Action("Listar")', function () {
                //TableNoSearch('#tableData');
            });
        }

        $(document).ready(function () {
            Listar()
            $('#modalEmpleado').modal('show')
        });
    </script>
}

<input type="hidden" id="hfIDEmpleado">
<input type="hidden" id="hfControlador">

<div class="row">
    <div class="col-md-12">
        <div class="card" style="margin-top:-20px!important;">

            <div class="card-header card-header-danger card-header-text">
                <div class="card-text">
                    <h4 class="card-title">EMPLEADO</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="col-10 offset-1" id="divData"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEmpleado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">EMPLEADO</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <form id="formCrearTipoEmpleado" class="formValida">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                            <div class="form-group">
                                <label for="txtNombre" class="bmd-label-floating">NOMBRE</label>
                                <input type="text" class="form-control" id="txtNombre" name="txtNombre" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                            <div class="form-group">
                                <label for="txtDireccion" class="bmd-label-floating">DIRECCION</label>
                                <input type="text" class="form-control" id="txtDireccion" name="txtDireccion" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="selTipoEmpleado" class="bmd-label-floating label-with-selectpicker">TIPO EMPLEADO</label>
                                <select id="selTipoEmpleado" name="selTipoEmpleadolTipoGL" class="selectpicker" data-style="select-with-transition" data-live-search="true" title="Seleccione Tipo" required></select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="txtSalario" class="bmd-label-floating">SALARIO</label>
                                <input type="text" class="form-control" id="txtSalario" name="txtSalario" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="txtTelefono" class="bmd-label-floating">TELEFONO</label>
                                <input type="text" class="form-control" id="txtTelefono" name="txtTelefono" maxlength="8" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="txtCorreo" class="bmd-label-floating">CORREO ELECTRONICO</label>
                                <input type="text" class="form-control" id="txtCorreo" name="txtCorreo" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-link btn-deep-orange" onclick="Create()">Guardar</button>
                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

