
@section scripts{
    <script src="~/Scripts/Caja/CAJCobro.js"></script>
    <script src="~/Scripts/DevExtreme/21.1.5/dx.all.js"></script>
    <script src="~/Scripts/DevExtreme/21.1.5/localization/dx.messages.es.js"></script>
    <link rel="stylesheet" href="~/Content/DevExtreme/21.1.5/dx.material.orange.light.css">
}

<style>

    table tbody tr td {
        font-size: 12px !important;
    }

    div.dt-buttons {
        position: relative;
        float: right;
        margin-top: -2px;
        margin-left: -15px;
    }

    .dataTables_length {
        float: left;
    }

    td.remover-control {
        background: url('../../assets/img/open.png') no-repeat center center !important;
        cursor: pointer !important;
    }

    tr.remover td.remover-control {
        background: url('../../assets/img/close.png') no-repeat center center !important;
        cursor: pointer !important;
    }

    #gridContainer .dx-scrollable-scroll {
        height: 50px !important;
    }

    #gridContainer .dx-scrollable-scroll-content {
        background-color: #FE650D !important;
    }

    #gridContainer span.current-value {
        display: inline-block;
        margin-right: 5px;
    }

    #gridContainer span.diff {
        width: 50px;
        display: inline-block;
    }

    #gridContainer .inc {
        color: #2ab71b;
    }

    #gridContainer .neg {
        color: #060606;
    }

    #gridContainer .dec {
        color: #f00;
    }

        #gridContainer .inc .arrow,
        #gridContainer .dec .arrow {
            display: inline-block;
            height: 10px;
            width: 10px;
            background-repeat: no-repeat;
            background-size: 10px 10px;
        }

    #gridContainer .inc .arrow {
        /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADKSURBVHjaYtTaLs1ABEiG0nPRJa56PEHhsxBhmCUQT4OyrwHxcXyKmQgYJgHE64CYDYrXQcXIMhCbAcgWkGzgNKh38QUB0QamIUUErkhKI9ZAGyCeTERkTYaqxWsgKA2txhdG6GGsvUNGGpeBRMUiGhCFGsqGzUBQQJsxkA5AemaiG5hDIBIIgQSgK0FmMDACs549kN5FZLjhA7+A2A2U9YSAOBeLAk4gnoBDczoOcSFGPIUDPxB/wCHHiKtwYGKgMhg1cBAaCBBgAJTUIL3ToPZfAAAAAElFTkSuQmCC');*/
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDE4IDE4IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxOCAxODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6bm9uZTt9DQoJLnN0MXtmaWxsOiMyQUI3MUI7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0wLDBoMTh2MThIMFYweiIvPg0KPHBhdGggY2xhc3M9InN0MSIgZD0iTTksMS41QzQuOSwxLjUsMS41LDQuOSwxLjUsOXMzLjQsNy41LDcuNSw3LjVzNy41LTMuNCw3LjUtNy41UzEzLjEsMS41LDksMS41eiBNNy41LDEyLjhMMy44LDlsMS4xLTEuMQ0KCWwyLjcsMi43bDUuNy01LjdMMTQuMyw2TDcuNSwxMi44eiIvPg0KPC9zdmc+DQo=');
    }

    #gridContainer .dec .arrow {
        /*background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADJSURBVHjaYvzPgBfgkhYA4o8QFahKmBioDEYNHIQGsgBxIBCLkqgvAYi/g1mMjMjir0EJzR6If/6HpChKMMgMe3DKBeIcKhiY8x/MYoDj+RQYNgdkGLqBbEB8kgzDToL1YjEQhKWB+BUJhj0H64Eahs1AELYhMpJ+gtUiGYbLQBBOI8LANLBaIg1kAAc0vkiAqSPBQFAkHcNi2DGoHMkGgrAENOCRI0ECRQ2JBoKwJTQCfkLZDPgMZPxPXN5NhtJzMSsJVBMAAgwAyWSY2svfmrwAAAAASUVORK5CYII=');*/
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNC4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6bm9uZTt9DQoJLnN0MXtmaWxsOiNGRjAwMDA7fQ0KPC9zdHlsZT4NCjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0wLDBoMjR2MjRIMFYweiIvPg0KPHBhdGggY2xhc3M9InN0MSIgZD0iTTEyLDJDNi41LDIsMiw2LjUsMiwxMnM0LjUsMTAsMTAsMTBzMTAtNC41LDEwLTEwUzE3LjUsMiwxMiwyeiBNMTcsMTUuNkwxNS42LDE3TDEyLDEzLjRMOC40LDE3TDcsMTUuNg0KCWwzLjYtMy42TDcsOC40TDguNCw3bDMuNiwzLjZMMTUuNiw3TDE3LDguNEwxMy40LDEyTDE3LDE1LjZ6Ii8+DQo8L3N2Zz4NCg==');
    }

    .options {
        padding: 20px;
        margin-top: 20px;
        background-color: rgba(191, 191, 191, 0.15);
    }

    .caption {
        font-weight: 500;
        font-size: 18px;
    }

    .option {
        margin-top: 10px;
    }

        .option > span {
            position: relative;
            top: 2px;
            margin-right: 10px;
        }

        .option > .dx-widget {
            width: 500px;
            display: inline-block;
            vertical-align: middle;
        }
</style>

<div class="col-md-12" style="margin-top:-10px;">
    <div class="card" style="margin-top:-12px;">
        <div class="card-header card-header-deep-orange card-header-text">
            <div class="card-text">
                <h4 class="card-title">COBRO</h4>
            </div>
        </div>
        <div class="card-body">
            <form class="formValida">
                <div class="row" style="margin-top:-80px">
                    <div class="long-title col-md-12"><h3 id="tituloRep"></h3></div>
                    <div class="demo-container col-md-12">
                        <div id="gridContainer"></div>@* ESTO ES PARA EL PULL*@
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade ps-child" id="modalCobro" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title">REALIZAR COBRO</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <form class="formValida" id="formProducto">
                    @*DIV PARA AGREGAR LA FORMA DE PAGO*@
                    <div class="row" style="margin-top:20px">
                        @*----------SELECT TIPO----------*@
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label for="selTipo" class="bmd-label-floating label-with-selectpicker">TIPO</label>
                                <select id="selTipo" name="selTipo" class="selectpicker" data-style="select-with-transition" data-live-search="true" title="Seleccione Tipo"></select>
                            </div>
                        </div>
                        @*----------# DOCUMENTO----------*@
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 d-none" id="divRef">
                            <div class="form-group">
                                <label for="txtReferencia" class="bmd-label-floating">NÚMERO</label>
                                <input autocomplete="off" type="text" class="form-control" id="txtReferencia" name="txtReferencia">
                            </div>
                        </div>
                        @*----------IMPORTE----------*@
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label for="txtImporte" class="bmd-label-floating">MONTO</label>
                                <input autocomplete="off" type="number" class="form-control input-number" id="txtImporte" name="txtImporte" step="0.00" min="0.00">
                            </div>
                        </div>
                        @*----------BOTON DE AGREGAR DOCUMENTO----------*@
                        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
                            <button id="btnAgregarDocumento" class="btn btn-primary btn-round btn-fab" title="Agregar Documento">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                    <div class="material-datatables">
                        <table id="tblDocumentos" class="table table-striped table-no-bordered table-hover pagination-success" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th class="font-weight-bold">ID FORMA PAGO</th>
                                    <th class="font-weight-bold">FORMA PAGO</th>
                                    <th class="font-weight-bold">REFERENCIA</th>
                                    <th class="font-weight-bold">MONTO</th>
                                    <th class="font-weight-bold">ACCIONES</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="row justify-content-end" style="margin-top:20px">
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-right justify-content-end">
                            <div class="form-group text-right">
                                <label for="txtTotalCobro" class="bmd-label-floating">COBRO</label>
                                <input type="text" class="form-control" id="txtTotalCobro" name="txtTotalCobro" disabled>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-right justify-content-end">
                            <div class="form-group text-right">
                                <label for="txtTotalPedido" class="bmd-label-floating">TOTAL PEDIDO</label>
                                <input type="text" class="form-control" id="txtTotaA" type="submit" class="btn btn-deep-orange float-right">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
